<div class="row justify-content-center py-5">
    <div class="col-6 text-center py-4 searchSelectionBg">
        <h4>Your request has been submitted. Please allow 2 buisness days to process your request</h4>
    </div>
</div>
<div class="row justify-content-center py-5">
    <div class="col-2 text-center py-3">
        <a href="/" class = "btn btn-danger p-2">Return Home</a>
    </div>
</div>