<!-- Row1 -->

<div class="row py-3 justify-content-center">
    <div class="abbDash"></div>
    <div class="col-sm-12 text-center h1">Contact Us</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h2 py-3">Let's talk about your repair needs</div>
</div>
<!-- row3 Contact form and Address etc -->
<div class="row justify-content-center">
<!-- left column -->
    <div class="col-sm-4 formBackground">
        <form action="/addContact" method="POST" class="py-4 text-center">
            <div class="mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="company" name="company" placeholder="Company" required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email Address" required>
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number">
            </div>
            <div class="mb-3">
                <% if (item.service) { %>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" placeholder="Message">I am Interested in getting a quote on a <%= item.model_number %> for <%= item.service %>
                    </textarea>
                <% } else { %>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" placeholder="Message"></textarea>
                    <% } %>
              </div>
            <button type="submit" class="btn abbRed text-white">Submit</button>
          </form>
    </div>
<!-- right column  -->
    <div class="col-lg-3">
        <div class="row py-5">
            <div class="col-md-4 text-center">
                <img src="images/marker.png">
            </div> 
            <div class="col-md-8 text-center">
                <address>
                    240 Production Court<br>
                    Louisville, KY 40299
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="images/phone.png">
            </div> 
            <div class="col-md-8 text-center">
                <span>(502)493-8000</span>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-4 text-center">
                <img src="images/envelope.png">
            </div> 
            <div class="col-md-8 text-center">
                <small>US-CustomerService.Louisville@abb.com</small>
            </div>
        </div>
    </div>
</div>
 