<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">Contact Us</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h2 py-3">Let's talk about your repair needs</div>
</div>
<!-- row3 -->
<div class="row justify-content-center">
    <div class="col-sm-4 bg-secondary">
        column for contact form
    </div>

    <div class="col-sm-4 bg-primary">
        name
        address
    </div>
</div>




<div>
    WE are located in louisville blah
here we are
put a map 
put a picture 
email 
address 
and a form of contact 
 </div>
 
 