<div class="row-sm-12 pt-3">
    This page tells about our exchange program and how it works
    talks about the befefits of exchanging ininstead of repairs
    picture of finished goods? showing product ready to ship?
 </div>
 
 