<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">Exchange Program</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">An alternative available to you when you can't wait for repair
        cycle time.
    </div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4">
        <span class="h3">Features & Benefits</span>
        <ul>
            <li>In Stock Reconditioned Parts shipped same day the order is received</li>
            <li>Covered by our 18 month "edge to edge" warranty</li>
            <li>Repaired and tested to the same standard as "Repair and Return" products</li>
            <li>Approximately 40% cost savings vs new</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row-sm-12">
            <img src="images/exchange.JPG" class="img-fluid maxImage">
         </div>
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <span class="h3">Specifications</span>
        <ul>
            <li>30 days to return core to complete the exahange process</li>
            <li>No RMA required, prepaid label is provided for domestic returns</li>
            <li>Core must be in a visably repairable condition</li>
            <li>Failure to return core results in additional billing up to new card price</li>
        </ul>
    </div>
</div>