<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">GE Legacy Drives</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">ABB Louisville can support and repair many older series GE Drives 
        manufactured from the 1950's to present. 
    </div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4 ">
        <span class="h3">Drive Series</span>
        <ul>
            <li>Digital Siltron</li>
            <li>Analog Siltron</li>
            <li>GE Mark IV</li>
            <li>Various other GE Legacy Drives</li>
        </ul>
    </div>
    <div class="col-sm-4 bg-primary">
        right col for picture
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <span class="h3">Additional products</span>
        <ul>
            <li>Liquid and Air cooled SCR Cell stacks</li>
            <li>GE Toolbox</li>
            <li>IOS Controls</li>
            <li>Bridge Units</li>
            <li>Resistive Loads</li>
        </ul>
    </div>
</div>

<div class="row-sm-12 pt-3">
    This page gives an overview of all ge legacy drive products and models that we Service
    be nice to have a picture of all drive types we can support
 </div>
 cell stacks, air and water cooled
 resistave loads

 