<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">GE Legacy Drives</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">ABB Louisville can support and repair many older series GE Drives 
        manufactured from the 1950's to present. 
    </div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4 ">
        <span class="h3">Drive Series</span>
        <ul>
            <li>Digital Siltron</li>
            <li>Analog Siltron</li>
            <li>GE Mark IV</li>
            <li>Various other GE Legacy Drives</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row-sm-12">
            <img src="images/legacyDrive.JPG" class="img-fluid maxImage">
        </div>
    </div>
</div>

<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <span class="h3">Additional products</span>
      <p>AC300,500 | AF200,250,400,500 | IC36xx Assemblies | Cycloconverter | D2k | DFM | DMC | DS2020 | IOS | LCI | Liquid Rheostat |
        Valutrol | TIRIS | Statotrol | Silpac | Silcomatic I, II , Plus | Peterborough Exciters | Micro Drill | Loadtrak I,II,III,IV |
        Drop In Operator Station | Generex | IMD-GTO | Dom I, II, Plus | Liquid and Air cooled SCR Cell Stacks | GE Toolbox Software |
        Bridge Units | Resistive Loads | And More
      </p>
    </div>
</div>

 