<!-- Row1 title and intro -->
<div class="row pt-3">
   <div class="col-sm-3">
   </div>
   <div class="col-sm-5">
      <div class="abbDash"></div>
      <h1 class="abbBold">ABB Louisville Service Center</h1>
      <p class="mt-4">The ABB / GE Legacy Louisville Service Center features in house repair services with OEM components for 
         GE Legacy Drives, Excitation and Turbine Controls. With Access to the global network of ABB Service
      </p>
   </div>
   <div class="col-sm-4">
   </div> 
</div>

<!-- Row2 Photo and offerings with contact button -->
<div class="row pt-3">
   <div class="col-sm-3">
   </div>
   <div class="col-sm-4">
      <div class="row-sm-12">
         <img src="images/buildingFront.JPG" class="img-fluid">
      </div>
   </div>
   <div class="col-sm-5 px-5">
      <div class="abbDash"></div>
      <div class="h2 pb-3">Offerings</div>
      <ul>
         <li>OEM Warranty and Repair Center</li>
         <li>Emergency Repair</li>
         <li>Remanfactured Cards and Assemblies</li>
         <li>In Stock Finished Goods offerings</li>
         <li>Test and cert program</li>
         <li>Experienced engineering and technical support</li>
         <li>Outage and shutdown planning</li>
         <li>GE/ABB engineering support</li>
      </ul>
      <div>
         <a href="/contact" class = "btn abbRed text-white roundedButton p-2">Contact Us</a>
      </div>
     
   </div> 
</div>
<!-- Row3 Brochure button  -->
<div class="row mt-4">
   <div class="col-sm-3">
   </div>
   <div class="col-sm-4 pb-2">
      <a href="/images/LouisvilleLineCardApril24.pdf" target="_blank" class = "btn abbRed text-white roundedButton p-2">Louisville Service Center Brochure</a>
      <!-- <button type="button" class="btn btn-danger p-2 roundedButton">Louisville Serivce Center Brochure</button> -->
   </div>
   <div class="col-sm-5">
   </div>
</div>

<!-- Row4 seperator for shop overviews-->
<div class="row mt-4">
   <div class="col-sm-2">  
   </div>
   <div class="col-sm-8 text-center p-1 abbDivide">
      <span class="h5">Factory Authorized Warranty Repair Center</span>
   </div>
   <div class="col-sm-2"> 
   </div>
</div>

<!-- Row 5 2 pannel with shop overviews -->
<div class="row pt-4">
   <div class="col-sm-2">  
   </div>
   <div class="col-sm-4 text-left p-1">
      <ul>
         <li>Factory authorized warranty repair center</li>
      </ul>
      <ul>
         <li>Experienced engineering and technical support</li>
      </ul>
      <ul>
         <li>Certified Six Sigma quality craftsmanship</li>
      </ul>
      <ul>
         <li>VPP certified by OSHA</li>
      </ul>
      <ul>
         <li>Services over 9,000 Items a year</li>
      </ul>
      <ul>
         <li>ISO 9001 certified quality system (Since 1991)</li>
      </ul>
   </div>

   <div class="col-sm-4 text-left p-1">
      <ul>
         <li>Outage and shutdown planning</li>
      </ul>
      <ul>
         <li>Comprehensive solutions</li>
      </ul>
      <ul>
         <li>ABB engineering support</li>
      </ul>
      <ul>
         <li>30,000 sq. ft. State of the Art Electronic Repair Facility</li>
      </ul>
      <ul>
         <li>IPC-A-610 certified technicians</li>
      </ul>
      <ul>
         <li>Over 260+ years combined experience on GE turbine, excitation, and LCI controls</li>
      </ul>
   </div>
   <div class="col-sm-2"> 
   </div>
</div>
