<!-- Row1 title and intro -->
<div class="row pt-3">
   <div class="col-sm-3">
   </div>
   <div class="col-sm-5">
      <h1 class="abbBold">ABB Louisville Service Center</h1>
      <p class="mt-4">The ABB / GE Legacy Louisville Service Center features in house repair services with OEM components for GE Legacy Drives.</p>
   </div>
   <div class="col-sm-4">
   </div> 
</div>

<!-- Row2 Photo -->
<div class="row pt-3">
   <div class="col-sm-3">
   </div>
   <div class="col-sm-4">
      <div class="row-sm-12">
         <img src="images/building.jpg" class="img-fluid">
      </div>
   </div>
   <div class="col-sm-5 px-5">
      <div class="h2 pb-3">Offerings</div>
      <ul>
         <li>OEM Warranty and Repair Center</li>
         <li>Emergency Repair</li>
         <li>Remanfactured Cards and Assymblies</li>
         <li>In Stock Finished Goods offerings</li>
         <li>Test and cert program</li>
         <li>Experienced engineering and technical support</li>
         <li>Outage and shutdown planning</li>
         <li>GE/ABB engineering support</li>
      </ul>
      <div>
         <button type="button" class="btn btn-danger roundedButton">Contact Us</button>
      </div>
     
   </div> 
</div>
<!-- Row3 Brochure button  -->
<div class="row mt-5">
   <div class="col-sm-3">

   </div>
   <div class="col-sm-4">
      <button type="button" class="btn btn-danger p-2 roundedButton">Louisville Serivce Center Brochure</button>
   </div>
   <div class="col-sm-5">
      
   </div>
</div>



Factory authorized warranty repair center
Experienced engineering and technical support
Certified Six Sigma quality craftsmanship
Outage and shutdown planning
Comprehensive solutions
ABB engineering support

<ul>
   <li>VPP certified by OSHA</li>
   <li>30,000 sq. ft. State of the Art Electronic Repair Facility</li>
   <li>Services over 9,000 Items a year</li>
   <li>IPC-A-610 certified technicians</li>
   <li>ISO 9001 certified quality system (Since 1991)</li>
   <li>Over 260+ years combined experience on GE turbine, excitation, and LCI controls</li> 
</ul>

Home page for abb louisville
facility picture 
show vpp , oem , 
what industries we support 
Blurb about shop including how long we have been servicing