<!-- Row1 -->
<div class="row py-3 justify-content-center">
    <div class="abbDash"></div>
    <div class="col-sm-12 text-center h1">GE Innovation Series</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">MV LV HV Variable frequency Drives</div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4">
        <div class="abbDash"></div>
        <span class="h3">Repair offerings</span>
        <ul>
            <li>Complete Drive Serive</li>
            <li>Bridge interface modules</li>
            <li>Control card repair</li>
            <li>Various accociated cards, Assymblies and IGBT's</li>
            <li>Toolbox software</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row-sm-12">
            <img src="images/innDrive.JPG" class="img-fluid maxImage">
        </div>
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <div class="abbDash"></div>
        <span class="h3">Specifications</span>
        <ul>
            <li>Complete drives are tested under load with burn in </li>
            <li>Customer programming preserved in digital format</li>
            <li>Cards are tested with OEM fixtures and burned in using test drives.</li>
            <li>Remanufactured and exchange offerings are available</li>
        </ul>
    </div>
</div>