<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel='stylesheet' href='stylesheets/bootstrap.min.css'>
        <link rel='stylesheet' href='stylesheets/style.css'>
        <link rel='icon' type='image/png' href='images/abb-logo-square.png'>
        <script src="javascripts/bootstrap.bundle.js"></script>
        <meta type="text/css" media="print">
    <title>
        ABB Louisville
    </title>
    </head>

    <body>
        <div class="container-fluid">
<!-- row1 ge links -->
            <div class="row text-right pb-2">
                <div class="col-sm-10 abbDivideDark">
                    <!-- Blank content for spacing -->
                </div>
                <div class="col-sm-2 abbDivideDark">
                    <div class="dropdown">
                        <button class="dropbtn">GE Legacy Resources</button>
                        <div class="dropdown-content">
                          <a href="http://www.global.abb/group/en">ABB Global Site</a>
                          <a href="http://www.net.abb.com/us">ABB U.S. Site</a>
                        </div>
                    </div> 
                </div>
            </div>
<!-- row 2 abb logo, address -->
            <div class="row py-2">
                <div class="col-sm-4 text-center">
                    <a href="/"><img class="img img-fluid px-4" src="images/abb.png"></a>
                    <span class="h4">Louisville</span>
                </div>
                <!-- This empty row is for spacing  -->
                <div class="col-sm-4 text-warning text-center"></div>

                <address class="col-sm-4  text-center">
                    Louisville Service Center <br>
                    240 Production Court <br>
                    Louisville, KY 40299 <br>
                    P: (502)-493-8000<br>
                    F: (502)-493-0326<br>
                    <a href="mailto: US-CustomerService.Louisville@abb.com?subject=Question from Website">Email Us</a>
                </address>
            </div>
<!-- row 3 menus -->
            <div class="row p3 ">
                <div class="col-sm-12 text-center">
                    <!-- Services dropdown menu -->
                    <div class="dropdown">
                        <button class="dropbtnbar mx-3">Services</button>
                        <div class="dropdown-content">
                          <a href="/partsSpares">Parts, Spares & Consumables</a>
                          <a href="/repairs">Repairs</a>
                          <a href="/exchanges">Exchanges</a>
                          <a href="/reman">Remanfactured Units</a>
                          <a href="/testCert">Test and Cert</a>
                        </div>
                    </div> 
                    <!-- Products dropdown menu -->
                    <div class="dropdown">
                        <button class="dropbtnbar mx-3">Products</button>
                        <div class="dropdown-content">
                          <a href="/geLegacyDrives">GE Legacy Drives</a>
                          <a href="/ACDCDrives">AC/DC 2000</a>
                          <a href="/innovationDrives">Innovation Drives</a>
                          <a href="/dc300">DC300/285/100</a>
                          <a href="/turbineControl">Turbine Control</a>
                        </div>
                    </div> 
                    <!-- Contact us -->
                    <a class="mx-2 btn" href="/contact">Contact Us</a>
                    <a class="mx-2 btn" href="http://catalog.industrialsolutions.abb.com/ecatalog/">Board Repair (E-Catalog)</a>
                    <!-- <a href="/results">results</a> -->
                </div>
            </div>
<!-- Row4 search bar --> 
            <form action="/searchSelection" method="POST">
                <div class="row py-3 justify-content-center">
                    <div class="col-lg-2 text-center">
                        <input type="text" class="form-control" name="searchWord" placeholder="Search Products">
                    </div>
                    <div class="col-lg-1 text-left">
                        <button type="submit" class="btn abbBlue text-white">Search</button>
                    </div>
                </div>
            </form>
<!-- Row 4 Gray banner with page display embedded -->
            <div class="row">
                <div class="col-sm text-center ">
                    <div class="text-left px-1 abbDivide">
                        <%= locals.banner %>
                    </div>
                </div>
            </div> 
<!-- Body content -->
            <div>
                <%- body -%>
            </div>
        </div>
    </body>
<!-- Footer -->
    <div class="row footer justify-content-center mt-5 py-2">
        <div class="col-md-4">
            <div>
                <p class="abbBold"><strong>ABB Louisville</strong></p>
                <p><small>The only Factory authorized Serivce Center for GE Legacy Drives and Controls</small></p>
            </div>        
        </div>
        <div class="col-md-2">
            <div>
                <p class="abbBold"><strong>Contact</strong></p>
                <address><small>
                    Louisville, KY 40299 <br>
                    P: (502)-493-8000<br>
                    F: (502)-493-0326<br>
                    US-CustomerService.Louisville@abb.com
                </small></address>
            </div>        
        </div>
        <div class="col-md-2">
            <div>
                <p class="abbBold"><strong>Follow Us</strong></p>
                <div class="row">
                    <div class="col-auto">
                        <img href="https://www.linkedin.com/showcase/abb-motion" target="_blank" src="images/socialLogo/linkedin-logo-transparent.png" class="img-fluid circleButton p-0">
                    </div>
                    <div class="col-auto">
                        <img src="images/socialLogo/facebook-logo-transparent.png" class="img-fluid circleButton p-0">
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-auto">
                        <a href="https://www.youtube.com/watch?v=_eI7tZonQLU" target="_blank"> <img src="images/socialLogo/youtube-logo-transparent.png" class="img-fluid circleButton"></a>
                    </div>
                </div>
            </div>   
        </div>
    </div>  
    <div class="row footer-bottom">
        <div class="col-12 text-center py-1">
            <small>@2024 Copyright ABBLouisville.com</small>
        </div>
    </div> 
</html>