<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">Parts Sales</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">We stock thousands of OEM components, cables and consumables</div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4">
        <span class="h3">Part Offerings</span>
        <ul>
            <li>Spare Cards</li>
            <li>OEM and Custom Cabling</li>
            <li>OEM Components and Assymblies</li>
            <li>Relays, Contactors, SCR's, Capacitors and more</li>
        </ul>
    </div>
    <div class="col-sm-4 bg-primary">
        right col for picture
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <span class="h3">Specifications</span>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>