<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">Repair and Return</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">Nonfunctional parts sent to ABB Louisville 
        for repair and return are repaired using OEM quality processes and standards</div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4">
        <span class="h3">Features & Benefits</span>
        <ul>
            <li>Full 18 month "edge to edge" warranty on entire part</li>
            <li>Pro-actively replace aging components</li>
            <li>Two week lead time on repair and return orders</li>
            <li>Expedidted repair service available</li>
            <li>Full functional tests are performed on all repairs</li>
            <li>Comprehensive Serivce Report provided with each repair</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row-sm-12">
            <img src="images/repair.JPG" class="img-fluid maxImage">
        </div>
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <span class="h3">Specifications</span>
        <ul>
            <li>Capabililties for over 17,000 different parts</li>
            <li>Diagnostic test equipment calibrated and certified to national standards</li>
            <li>One of the lowest failure statistic rates in the board repair industry</li>
            <li>Automated test equipment ensures repeatable and reproducible product quality</li>
            <li>Tested to OEM specifications using original documentation and test fixtures</li>
        </ul>
    </div>
</div>