<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">Test and Certification</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">Ideal for customers who have circuit boards and cannot assess the boards’ 
        condition or have inventory in need of validation</div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4 bg-secondary">
        Left col for features&benefits, Specifications
    </div>
    <div class="col-sm-4 bg-primary">
        right col for picture
    </div>
</div>