<!-- Row1 -->
<div class="row py-3">
    <div class="col-sm-12 text-center h1">Test and Certification</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">Ideal for customers who have circuit boards and cannot assess the boards’ 
        condition or have inventory in need of validation</div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-4">
    <div class="col-sm-4">
        <span class="h3">Features & Benefits</span>
        <ul>
            <li>Lowest price solution</li>
            <li>Testing and inspection processes are identical to that of "Repair & Return Products"</li>
            <li>Parts certified as operating within factory specifications</li>
            <li>Inquire about test and cert with pre-approval for repair</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row-sm-12">
            <img src="images/testCertsmall.JPG" class="img-fluid maxImage">
        </div>
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <span class="h3">Specifications</span>
        <ul>
            <li>Diagnostic test equipment certified to national standards</li>
            <li>Automated test equipment ensures repeatable and reproducible product quality</li>
            <li>Testing performed by the same GE buisness that originally designed and manufactured the parts</li>
            <li>Testing conducted using the original factory designs, manufacturing and test fixtures</li>
        </ul>
    </div>
</div>