<!-- Row1 -->
<div class="row py-3 justify-content-center">
    <div class="abbDash"></div>
    <div class="col-sm-12 text-center h1">Turbine Control Systems</div>
</div>
<!-- row2 -->
<div class="row justify-content-center">
    <div class="col-sm-8 text-center border-top border-danger h5 py-3">OEM parts and service available on All GE Speedtronic systems
        Mark I through Mark VIe
    </div>
</div>
<!-- row3 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-4">
        <div class="abbDash"></div>
        <span class="h3">Repair offerings</span>
        <ul>
            <li>Mark I, II, III, IV, V, VI, and VIe support</li>
            <li>Excitation Control and Static Starter Systems</li>
            <li>Human-Machine(HMI) Interfaces</li>
            <li>LCI Controls</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="row-sm-12">
            <img src="images/turbineControl.jpg" class="img-fluid maxImage">
        </div>
    </div>
</div>
<!-- row4 -->
<div class="row justify-content-center py-3">
    <div class="col-sm-8">
        <div class="abbDash"></div>
        <span class="h3">Specifications</span>
        <ul>
            <li>Cards are pre-tested using OEM test fixtures and Burned in using Simplex and TMR Test Units</li>
            <li>100 Hour Burn in available for Turbine Control Products</li>
            <li>Remanufactured and Exchange Units available</li>
        </ul>
    </div>
</div>

