@font-face {
  font-family: "ABBvoice-Medium";
  src: url("../fonts/Web/WOFF/ABBvoice_W_Md.woff") format("woff");
}

html {
  font-family: "ABBvoice-Medium", sans-serif;
  font-weight:normal;
  font-style:normal;
}
.footer {
  background-color: #d2d2d2;
}
.footer-bottom {
  line-height:20px;
  background-color:#a9a9a9;
}

.roundedButton {
  border-radius: 30px;
}
.divideBar {
  background-color:#c6c6c6;
}

.abbDivide {
  background-color: #d2d2d2;
}

.abbDivideDark {
  background-color: #a9a9a9;
}
.searchSelectionBg {
  /* background-color: #e2e0e0; */
  background-color: #ebebeb;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.searchSelectionButton {
  /* background-color: #ff5561; */
  background-color: #b3fa71;
}
.formBackground {
  background-color: #7773737c;
}
.circleButton {
  border-radius: 50%;
  height: 80%;
}
 /* Dropdown Button */
 .dropbtn {
  background-color: #a9a9a9;
  border: none;
}
/* Dropdown Button inside the nav bar */
.dropbtnbar {
  background-color:white;
  border:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* max image height */
.maxImage {
  max-height: 400px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.buttonDisable {
  background-color:rgba(201, 201, 201, 0.507);
  cursor:not-allowed;
  pointer-events: none;
  border-color:white;
}

.abbBlue {
  background-color: #004c97;
}
.abbRed {
  background-color: #ff000f;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ababab;} 