@font-face {
  font-family: "abbRegular";
  src: url('../fonts/Web/EOT/ABBvoice_W_Rg.eot');
  src: url('fonts/Web/WOFF/ABBvoice_W_Rg.woff') format('woff2');
}
@font-face {
  font-family: "abbBold";
  src: url('../fonts/Web/EOT/ABBvoice_W_Bd.eot');
  src: url('fonts/Web/WOFF/ABBvoice_W_Bd.woff') format('woff2');
}
.footer {
  /* height: 60px;
  line-height: 60px; */
  /* background-color:#dcdcdc; */
  background-color:#eeeeee;
}
.footer-bottom {
  line-height:20px;
  background-color:#c6c6c6;
}
body {
  font-family: 'abbRegular';
}
.abbBold {
  font-family: 'abbBold';
}
.roundedButton {
  border-radius: 30px;
}
.divideBar {
  background-color:#c6c6c6;
}
.formBackground {
  background-color: #7773737c;
}
.circleButton {
  border-radius: 50%;
  height: 80%;
}
 /* Dropdown Button */
 .dropbtn {
  background-color: #c6c6c6;
  border: none;
}
/* Dropdown Button inside the nav bar */
.dropbtnbar {
  background-color:white;
  border:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* max image height */
.maxImage {
  max-height: 400px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ababab;} 